<div id="sidebar">
  <ul class="blocks">
  <li class="block">
  <div id="instance-search-3" class="block-widget_search clear-block">
<!-- search form -->
<div class="search-form">
  <form class="clear-block" action="http://www.google.com/search" id="searchform" method="get" role="search">
    <fieldset>
      <div id="searchfield">
       <input type="text" value="Search..." onfocus="if (this.value == 'Search...') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Search...';}" class="text clearField clearFieldBlurred" id="searchbox" name="as_q" rel="搜索" gtbfieldid="3">
      </div>
	  <input name="as_sitesearch" value="{{blog.domain}}" type="hidden">

      <input type="submit" class="submit" value="">

     </fieldset>
 </form>
</div>
<!-- /search form -->
</div></li>
  
  
  
    <li class="block">
      <div class="block-widget_categories clear-block" id="instance-categories-3">
        <h3 class="title"><span>分类目录</span></h3>
        <div class="block-div"></div>
        <div class="block-div-arrow"></div>
        <ul>
	{%for cate in categories%}
  <li class="cat-item">	<a href="/category/{{cate.slug}}" title="查看 {{cate.name}} 下的所有文章">{{cate.name}}</a></li>
 	{%endfor%}
        </ul>
      </div>
    </li>
    <li class="block">
      <div class="block-widget_recent_entries clear-block" id="instance-recent-posts-3">
        <h3 class="title"><span>最近文章</span></h3>
        <div class="block-div"></div>
        <div class="block-div-arrow"></div>
        <ul>
        {% for entry in blog.recentposts %}
		<li><a href="/{{entry.link|escape}}" title="{{entry.title|escape}}">{{entry.title|escape}}</a></li>
        {%endfor%}
        </ul>
      </div>
    </li>
    <li class="block">
      <div class="block-widget_tag_cloud clear-block" id="instance-tag_cloud-4">
        <h3 class="title"><span>标签</span></h3>
        <div class="block-div"></div>
        <div class="block-div-arrow"></div>
        <div>{% for t in alltags %}
<a title="{{ t.tagcount }} pages" href="/tag/{{t.tag|urlencode}}" style="font-size:{{ t.tagcount|add:9 }}px;">{{t.tag}}</a>
{%endfor%}</div>
      </div>
    </li>
    <li class="block">
      <div class="block-widget_recent_comments clear-block" id="instance-recent-comments-3">
        <h3 class="title"><span>近期评论</span></h3>
        <div class="block-div"></div>
        <div class="block-div-arrow"></div>
        <ul id="recentcomments">
		
		        {% for comment in recent_comments %}
<li class="recentcomments"><a href="/{{comment.entry.link}}#comment-{{comment.key.id}}">{{comment.author}}:{{comment.shortcontent}}...</a> </li>
        {%endfor%}
        </ul>
      </div>
    </li>
    <li class="block">
      <div class="block-widget_archive clear-block" id="instance-archives-3">
        <h3 class="title"><span>文章归档</span></h3>
        <div class="block-div"></div>
        <div class="block-div-arrow"></div>
        <ul>
		{%for archive in archives%}
		<li><a href="/{{archive.year}}/{{archive.month}}">{{archive.year}}年{{archive.month}}月({{archive.entrycount}})</a></li>
		{%endfor%}
        </ul>
      </div>
    </li>
    <li class="block">
      <div class="block-widget_links clear-block" id="linkcat-2">
        <h3 class="title"><span>Blogroll</span></h3>
        <div class="block-div"></div>
        <div class="block-div-arrow"></div>
        <ul class='xoxo blogroll'>
		
{%for link in blogroll%}
<li><a href="{{link.href}}">{{link.linktext}}</a></li>
{%endfor%}
        </ul>
      </div>
    </li>
    <li class="block">
      <div class="block-widget_meta clear-block" id="instance-meta-3">
        <h3 class="title"><span>功能</span></h3>
        <div class="block-div"></div>
        <div class="block-div-arrow"></div>
        <ul>
    {%if self.is_admin or self.author%}
     <li><a href="/admin">管理</a> </li>
    {%endif%}
      <li>
     {%if self.is_login%}
       <a href="{{self.logouturl}}">注销</a>
     {%else%}
       <a href="/admin">登录</a>
     {%endif%}
         </li>
        <li><a href="{{ blog.feedurl }}" title="订阅本站 RSS 2.0">文章 <abbr title="RSS">RSS</abbr></a></li>
       
        </ul>
      </div>
    </li>
  </ul>
</div>
